@font-face {
    font-family: din_normal;
    src: url('fonts/din_normal.ttf') format('truetype');
}

@font-face {
    font-family: din_light;
    src: url('fonts/din_light.ttf') format('truetype');
}

@font-face {
    font-family: din_medium;
    src: url('fonts/din_medium.ttf') format('truetype');
}

@font-face {
    font-family: din_bold;
    src: url('fonts/din_bold.ttf') format('truetype');
}

*,
:before,
:after {
  box-sizing: border-box;
}

form {
  width: 320px;
  margin: 45px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
form hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #abb2b7;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #abb2b7;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #61afef;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

li{
  display: inline;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #787878;
}
.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #787878;
  color: #deeffd;
}
.btn.btn-submit {
  background: #007ce2;
  color: #e0e0e0;
}
.btn.btn-submit:hover {
  background: #61afef;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #b4b4b4;
  color: #eeeeee;
}
.btn-box {
  text-align: center;
  margin: 50px 0;
}
.din-normal {
  font-family: din_normal;
}

.din-light {
  font-family: din_light;
}

.din-medium {
  font-family: din_medium;
}

.din-bold {
  font-family: din_bold;
}

.logo {
  display: inline-block;
  vertical-align: top;
}

.version {
  font-size: 15px;
  vertical-align: bottom;
}

.titleContentPic {
  display: inline-block;
  margin-top: 0px;
  vertical-align: top;
  float: left;
  margin-right: 5px;
}

.titleContent {
  display: inline-block;
  margin-top: 0px;
  vertical-align: top;
  margin-right: 5px;
  width: 550px;
}

.Title {
  font-size: 25px;
}

.DateAuthor {
  font-size: 13px;
}

.Content {
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.contribute {
  float: right;
  font-size: 20px;
}

.contribute hover {
  color: #61afef;
}


body {
  background-color: #21252b;
  color: #abb2b7;
  margin: 0px 0px 0px 0px;
}

p {
  margin: 0px 0px 0px 0px;
}

a {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

a:link {
  text-decoration: none;
  color: #abb2b7;
}

a:hover {
  color: #007ce2;
  cursor: pointer;
}

a:visited {
  color: #abb2b7;
}

a:visited:hover {
  color: #007ce2;
  cursor: pointer;
}

#header {
  height: 40px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #abb2b7;
  font-size: 30px;
  background-color: #282c34;
  background: rgba(16, 17, 20, 0.7);
  position: fixed;
  z-index:2000;
  width:100%;
  top:0;
  left:0;
}

#content {
  margin-top: 50px;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#logo_name {
  float: left;
  margin-left: 5px;
}

#login {
  position: relative;
  top: 18%;
  margin-right: 10px;
}

#LoginWindow {
  width: 350px;
  height: 280px;
  background-color: #282c34;
  border-width: 0px 0px 5px 0px;
  border-color: #007ce2;
  border-style: solid;
  display: none;
  margin-right: 10px;
  position:absolute;
  right: 0;
  box-shadow: 0px 0px 15px black;
}

#MDlist {
  margin: auto;
  width: 50%;
  width: 710px;
}

#ListElement {
  background-color: #282c34;
  height: 155px;
  border-width: 0px 0px 5px 0px;
  border-color: #007ce2;
  border-style: solid;
  margin-bottom: 15px;
}
